@model PhotoOfTheDay.WebApp.Models.SubmitPhotoEntryViewModel

@{
    ViewBag.Title = "Submit";
}

<h2>Submit your photo of the day</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Submit", "Photos", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken();

                <div class="form">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PhotoTitle, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.PhotoTitle, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PhotoTitle, null, new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PhotoDescription, new { @class = "control-label"})
                        @Html.TextAreaFor(model => model.PhotoDescription, new { @class = "form-control", rows = 8 })
                        @Html.ValidationMessageFor(model => model.PhotoDescription, null, new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Image, new { @class = "control-label" })
                        <input type="file" name="Image" />
                        @Html.ValidationMessageFor(model => model.Image, null, new { @class = "text-danger" })
                    </div>
                    <p>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </p>
                </div>
            }
        </div>
    </div>
</div>